* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #3d3d3d;
}
textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 2rem;
  font-size: 2rem;
}

.toolbar {
  height: 5.8rem;
  background-color: #636e72;
  display: flex;
  align-items: center;
}

.priority-cont {
  width: 20%;
  height: 4.2rem;
  background-color: #718093;
  margin-left: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}

.add-remove-btn {
  height: 4.2rem;
  width: 10%;
  background-color: #718093;
  margin-left: 6rem;
  display: flex;
  border-radius: 4px;
}
.add-remove-btn > * {
  width: 50%;
  cursor: pointer;
}
.add-remove-btn > *:hover {
  background-color: #57606f;
}

.color {
  height: 2.6rem;
  width: 3.4rem;
  background-color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
}
.green {
  background-color: #1dd1a1;
}
.blue {
  background-color: #00a8ff;
}
.black {
  background-color: #4b4b4b;
}
.pink {
  background-color: #f8a5c2;
}
i {
  font-size: 3.5rem;
  font-weight: bolder;
}

.add,
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  border-radius: 4px;
  height: 23rem;
  width: 39rem;
  background-color: #596275;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.content {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 75%;
  height: 100%;
  background-color: #dfe4ea;
}
.priority {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}
.main {
  min-height: calc(100vh - 5.8rem);
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  /* align-items: center; */
  flex-wrap: wrap;
  /* background-image: url(undraw_Taking_notes_re_bnaf.png); */
  background-repeat: no-repeat;
  background-position-y: 100%;
  /* background-size: cover; */
  background-color: #f1f2f6;

}
.ticket {
  width: 22rem;
  height: 16rem;
  background-color: #00a8ff;
  box-shadow: rgba(96, 96, 150, 0.2) 0px 7px 29px 0px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.ticket-color {
  height: 1rem;
  width: 100%;
  /* background-color: tomato; */
}
.ticket-id {
  height: 2rem;
  /* background-color: #1dd1a1; */
  padding: .6rem;
  font-size: 1.3rem;
}
.edit{
  margin-left: 4rem;
}
.ticket-content {
  height: calc(100% - 1rem );
  background-color: #e2bd9b;
  padding: .9rem;
  font-size: 1.3rem;
  /* background-image: url(undraw_Taking_notes_re_bnaf.png); */
  background-size: cover;
  background-repeat: no-repeat;
  /* text-align: center; */
  background-size: 100% 100%;
  outline: none;
  


}
button{
    display: block;
    padding: 0.6rem;
    font-size: 1rem ;
    font-weight: 600;
    border-radius: 0.2rem;
    border: none;
    background-color: #f7f1e3;
    /* box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px; */
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    outline: none;
    cursor: pointer;
}

.border{
 border: 2px solid #222f3e;
}
html{
    font-size: 100%;
}
@media screen and (max-width: 600px) {
    html{
        font-size: 53%;
    }
    .add-remove-btn {
        height: 4.2rem;
        width: 20%;
        position: relative;
        right: 5rem;
      }
    .priority-cont {
        width: 40%;
        
        
      }
      .edit{
        margin-left: 0rem;
        position: relative;
        right: 4rem;
      }
      .priority-cont{
        margin-left: 1rem;
      }
  }